/.phpunit.cache
/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
spam_emails_report.json
/config/sentry.php
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
/lang/
/stubs/
